.container_contacto{
    width: 100%;
    height: 120vh;
    background-color: #dfe0d0;
    color: aliceblue;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-around;
}
.h1{
    color: #835f04;
    font-size: 7vw;
    font-style: italic;
}
p{
    color: #835f04;
}
.container_oldForm{
    width: 70%;
}
.container_form{
    width: 100%;
    height: 67%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contain_input{
    width: 70%;
    height: auto;
    margin: 1%;
}
.contain_input span{
    color: #e42510;
}

.input{
    width: 100%;
    height: 6vh;
    border: 1px solid rgb(180, 155, 11);
    outline: none;
    background-color: #ebdfc2;
    border-radius: 1000000000px; ;
    font-size: 1.3vw;
}

.contain_inputs_union {
    display: flex;
    width: 70%;
    gap: 1rem; 
    
}
.contiain_select{
    width: 70%;
    margin: 1%;
}
.contiain_select span{
    color: #e42510;

}
.select{
    width: 100%;
    font-size: 1.7vw;
    outline: none;
    color: #fff;
    border: 1px solid rgb(180, 155, 11);
    background-color: #ebdfc2;
    border-radius: 1000000000px; ;
    font-size: 1.3vw;
}
.contain_text{
    width: 70%;
    height: 18vh;
    margin: 1%;
}
.contain_text span{
    color: #e42510;
}
.textArea{
    width: 100%;
    height: 80%;
    resize: none;
    outline: none;
    border: 1px solid rgb(180, 155, 11);
    background-color: #ebdfc2;
    border-radius: 10px;
    font-size: 1.3vw;
}
.contain_img_form{
    height: 100%;
    width: auto;
}
.img_form{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.contain_btn_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn_form{
    font-size:1.5vw;
    color: #d1990a;
    background-color: #002f36 ;
    padding: 2% 9%;
    border: 3px solid #d1990a;
    margin: 1%;
    border-radius: 1000000000px;
}
footer{
    background-color: #000;
}
@media (min-width:320px) and (max-width: 768px) {
    .container_contacto{
        height: 100vh;

    }
    .contain_img_form{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .container_oldForm{
        position: relative;
        z-index: 1000;
        width: 100%;
    }
    .container_oldForm h1{
        margin: 2rem;
        font-size: 7vw;
    }
    .container_form{
        font-size: 5vw;
    }
    .input,
    .select,
    .textArea{
        font-size: 4vw;
    }
    .contain_text,
    .contiain_select,
    .contain_input{
        width: 85%;
    }
    .contain_btn_form p{
        font-size: 4vw;
    }
    .btn_form{
        padding: 1rem 4rem 1rem 4rem;
        font-size:5vw;
    }
    .contain_inputs_union {
        width: 90%;
    }
}