.space-menu{
    width: 100%;
    height: 5vh;
    background-color: blueviolet;
}
.container_busqueda{
    width: 100%;
    height: 10vh;
    background-color: blueviolet;
    display: flex;
    justify-content: space-evenly;
}
.container_filter{
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 2vw;
    color: wheat;
    position: absolute;
    margin-left: -90%;
}
.contain_buscador{
    width: 80%;
}
.input_buscadador{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1.5vh ;
}
.buscador{
    width: 50%;
    height: 7vh;
    border: none;
    outline: none;
    background-color:bisque ;
    font-size: 3vh;
}
.lupa{
    width: 7vh;
    height: 7vh;
    background-color:bisque ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 60vh;
    gap: 3vh;
    margin: 20vh;
}
.contain_menu{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    text-align: center;
}
.contain_menu p{
    font-size: 2.5vh;
    font-style: italic;
    font-weight: 500;
    margin: 0.5rem;
}
.linea-divisoria{
    width: 90%;
    border-bottom: 2px solid #ff0000;
}
.contain_imgMenu{
    background-color: blue;
    width: 15vw;
    height: 30vh;
    margin-top: 10%;
    margin-bottom: 10%;
}
.imgMenu{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.contain_btn_more{
    width: 15rem;
    height: 3rem;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.max-size{
    width: 100%;
    height: 100vh;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vw;
}