main{
    background-color: #dfe0d0;
}
.space-menu{
    width: 100%;
    height: 5vh;
    background-color: #002f36;
}
.container_busqueda{
    width: 100%;
    height: 10vh;
    background-color: #002f36;
    display: flex;
    justify-content: space-evenly;
}
.container_filter{
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 2vw;
    color: wheat;
    position: absolute;
    margin-left: -90%;
}
.contain_buscador{
    width: 80%;
}
.input_buscadador{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1.5vh ;
}
.buscador{
    width: 50%;
    height: 7vh;
    border: none;
    outline: none;
    background-color:#dfe0d0 ;
    font-size: 3vh;
    border-radius: 1000000px;
}
.lupa{
    width: 7vh;
    height: 7vh;
    background-color:#dfe0d0 ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000000px;
    margin-left: 0.5vw ;
}
.container-menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 60vh;
    gap: 3vh;
    margin: 20vh;
}
.contain_menu{
    background-color: rgb(172, 173, 146);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: clamp(7px,1vw,24px);
    text-align: center;
}
.contain_menu p{
    font-size: 2.5vh;
    font-style: italic;
    font-weight: 500;
    margin: 0.5rem;
}
.linea-divisoria{
    width: 90%;
    border-bottom: 2px solid #ffc400;
}
.contain_imgMenu{
    width: 15vw;
    height: 30vh;
    margin-top: 10%;
    margin-bottom: 10%;
}
.imgMenu{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.contain_btn_more{
    width: clamp(3rem,15vw,10rem);
    height: clamp(2rem,3.5vw,6rem);
    background-color:#002f36;
    color: #ffc400;
    border:  3px solid #ffc400;
    display: flex;
    border-radius: 1000000px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.max-size{
    width: 100%;
    height: 100vh;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9vw;
}
.container_historia{
    display: flex;
    width: 80%;
    background-color: antiquewhite;
} 
footer{
    background-color: #000;
}